.container {
  width: 90%;
}

#addBtn {
  margin: 20px;
  padding: 15px 50px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  background-color: rgba(0, 0, 0, 0.2);
}

#addBtn:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
}

.table {
  border: 1px solid black;
  height: auto;
  width: 60vw;
  margin: 20px 80px;
}

.tableTitles {
  border: 1px solid black;
  padding: 10px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  height: 30px;
}

.tableTitles p {
  width: 100px;
  text-align: center;
}

.tableLine {
  border: 1px solid black;
  padding: 5px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: auto;
  min-height: 25px;
}

.tableLine p {
  width: 100px;
  text-align: center;
}

.descriptionTitle {
  width: 300px;
  text-align: center;
  word-wrap: break-word;
}

#total {
  color: black;
  background-color: rgba(255, 255, 0, 0.7);
  width: auto;
  padding: 3px 10px;
  border-radius: 5px;
}

.tableLine button {
  padding: 4px 16px;
  border-radius: 5px;
  border: none;
  border: 1px solid black;
  background-color: red;
  font-weight: 600;
  font-size: 15px;
}

.tableLine button:hover {
  background-color: white;
  background-color: rgb(226, 0, 0);
  cursor: pointer;
}

.modal {
  background-color: rgba(0, 0, 0, 0.55);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContainer {
  padding: 30px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.6);
  position: relative;
  width: 40vw;
}

.modalContainer form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 20px;
}

.modalContainer input,
select {
  padding: 10px;
  margin: 10px 0px;
  font-size: 15px;
}

.modalContainer label {
  margin: 30x 0px;
}

#x {
  position: absolute;
  right: 30px;
  top: 13px;
  transition: 0.3s;
  font-size: 25px;
}

#x:hover {
  color: red;
  cursor: pointer;
  transition: 0.3s;
}

#descripcion {
  height: 80px;
  margin: 5px 0px;
  font-size: 15px;
  padding: 10px;
  padding-left: 10px;
  resize: none;
}

.modalContainer button {
  height: 50px;
  border-radius: 10px;
  border: none;
  font-size: 18px;
}

.modalContainer button:hover {
  background-color: white;
  cursor: pointer;
}

#mes {
  text-align: center;
  margin-top: 10px;
}

#totalAportes {
  color: black;
  background-color: rgba(0, 255, 21, 0.6);
  width: auto;
  border-radius: 5px;
  padding: 3px 10px;
}

#totalGastos {
  color: black;
  background-color: rgba(255, 0, 0, 0.6);
  width: auto;
  padding: 3px 10px;
  border-radius: 5px;
}
