.container {
  width: 90%;
  text-transform: capitalize;
}

.tableContainer {
  display: flex;
  justify-content: center;
}

.tableColumn {
  border: 1px solid black;
  width: 30vw;
}

.tableTxt {
  text-align: center;
  padding: 10px 0px;
}

.tableTitles {
  display: flex;
  justify-content: center;
}

.mainContainer {
  margin: 50px;
}
