.container {
  width: 90%;
}

#addBtn {
  margin: 20px;
  padding: 15px 50px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  background-color: rgba(0, 0, 0, 0.2);
}

#addBtn:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
}

.grid {
  border: 1px solid black;
  margin: 20px;
  margin-top: 30px;
  height: 80vh;
}

.gridTitles {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 60px;
  font-size: 16px;
  font-weight: 600;
}

.gridTitles p {
  width: 200px;
  text-align: center;
}

.gridLines {
  border: 1px solid black;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 14px;
  border-top: none;
  text-align: center;
}

.gridLines p {
  width: 200px;
  text-align: center;
  font-size: 15px;
}

.lineModal {
  background-color: rgba(0, 0, 0, 0.55);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 199px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lineModal .text {
  border: 2px solid white;
  border-radius: 20px;
  width: 45vw;
  padding: 25px;
  font-size: 22px;
  color: white;
  margin-bottom: 10px;
}

.lineModal .text p {
  font-size: 35px;
  position: absolute;
  top: 100px;
  right: 100px;
  color: white;
  transition: 0.3s;
}

.lineModal .text p:hover {
  transition: 0.3s;
  color: red;
  cursor: pointer;
}

.modal {
  background-color: rgba(0, 0, 0, 0.55);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContainer {
  width: 45vw;
  height: auto;
  padding: 20px;
}

.modalContainer form {
  display: flex;
  flex-direction: column;
}

.modalContainer input {
  padding: 10px;
  padding-left: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-bottom: 10px;
  border: 2px solid transparent;
  background-color: rgba(255, 255, 255, 0.9);
}

.modalContainer input:focus {
  border: 2px solid rgba(0, 0, 0, 0.7);
  background-color: white;
}

.modalContainer label {
  margin: 5px;
  margin-left: 0px;
  color: white;
  font-size: 20px;
}

.modalContainer textarea {
  padding: 5px;
  outline: none;
  border-radius: 5px;
  border: 2px solid transparent;
  background-color: rgba(255, 255, 255, 0.9);
}

.modalContainer textarea:focus {
  border: 2px solid rgba(0, 0, 0, 0.7);
  background-color: white;
}

.modalContainer button {
  border-radius: 5px;
  height: 50px;
  border: none;
  margin-top: 20px;
  font-size: 18px;
}

.modalContainer form select {
  height: 45px;
  padding-left: 5px;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

.modalContainer button:hover {
  background-color: white;
  cursor: pointer;
}

.modalContainer p {
  font-size: 35px;
  position: absolute;
  top: 100px;
  right: 100px;
  color: white;
  transition: 0.3s;
}

.modalContainer p:hover {
  transition: 0.3s;
  color: red;
  cursor: pointer;
}

.verContainer {
  margin: 20px;
  height: 60vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  padding: 20px;
}

.verProductos {
  display: flex;
  flex-direction: column;
}

.productoContainer {
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  height: auto;
  margin: 10px;
  border-radius: 15px;
}

.productoContainer a {
  width: 45vw;
  text-align: center;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btns {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btns button {
  font-size: 20px;
  padding: 5px 15px;
  margin: 0;
  border-radius: 0;
  font-weight: 600;
  border-left: 2px solid black;
}

#eliminar {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: rgba(255, 0, 0, 0.7);
}

#eliminar:hover {
  background-color: rgba(207, 0, 0, 0.7);
}

#btn {
  padding: 10px 30px;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  transition: 0.2s;
}

#btn:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
  transition: 0.2s;
}

#link {
  border-radius: 10px;
}

.verContainer label {
  color: black;
}

.verContainer input {
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
}

.verContainer input:focus {
  border: none;
  transition: 0.3s;
  background-color: rgba(0, 0, 0, 0.3);
}

.verContainer button {
  transition: 0.3s;
  background-color: rgba(0, 0, 0, 0.1);
}

.verContainer button:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
