.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: auto;
  min-height: 100vh;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.4);
}

.btnElement {
  margin: 15px;
  padding: 10px 30px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
}

.btnElement:hover {
  background-color: white;
  cursor: pointer;
}
